<h5>User Id: @UserId</h5>
<section class="zf ai bi bp cp">
    <div class="a da">
        <div class="ea sb he">
            <div class="oc vg">
                <div class="da la qd si kn">
                    <h2 class="xa _i cj lj _l xm">Our Latest Products</h2>
                    <p class="ui hj">
                        There are many variations of passages of Lorem Ipsum available
                        but the majority have suffered alteration in some form.
                    </p>
                </div>
            </div>
        </div>

        <div x-data="
            {
              slides: ['1','2','3', '4'],
            }
          ">
            <div class="e sb le">
                <div class="e oc fi">
                    <div class="snap da sb ac oc rd ie se bk zk tl lm go fq 2xl:ud-max-w-[1320px]"
                         x-ref="carousel">
                        <div class="da wb gd vg yk ql jm fo eq 2xl:ud-min-w-[430px]">
                            <div class="se ve af nf wf">
                                <div>
                                    <img src="images/image-01.jpg" alt="product" class="oc" />
                                </div>
                                <div class="og">
                                    <a href="product-details.html"
                                       class="xa qb wi bj gj ik al jp mq">
                                        Apple Watch Series 7
                                    </a>
                                    <p class="ui dj hj">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                        enim luctus et lorem.
                                    </p>
                                </div>
                                <div class="sb me hf nf">
                                    <div class="sb je ug wg _k to jq">
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>

                                        <span class="di xi bj hj"> (55) Reviews </span>
                                    </div>
                                    <div class="gf nf ug wg _k to jq">
                                        <span class="ui bj gj"> $299 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="da wb gd vg yk ql jm fo eq 2xl:ud-min-w-[430px]">
                            <div class="se ve af nf wf">
                                <div>
                                    <img src="images/image-02_2.jpg"
                                         alt="product"
                                         class="oc" />
                                </div>
                                <div class="og">
                                    <a href="product-details.html"
                                       class="xa qb wi bj gj ik al jp mq">
                                        iPhone 13 Pro Max
                                    </a>
                                    <p class="ui dj hj">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                        enim luctus et lorem.
                                    </p>
                                </div>
                                <div class="sb me hf nf">
                                    <div class="sb je ug wg _k to jq">
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>

                                        <span class="di xi bj hj"> (32) Reviews </span>
                                    </div>
                                    <div class="gf nf ug wg _k to jq">
                                        <span class="ui bj gj"> $999 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="da wb gd vg yk ql jm fo eq 2xl:ud-min-w-[430px]">
                            <div class="se ve af nf wf">
                                <div>
                                    <img src="images/image-03_2.jpg"
                                         alt="product"
                                         class="oc" />
                                </div>
                                <div class="og">
                                    <a href="product-details.html"
                                       class="xa qb wi bj gj ik al jp mq">
                                        Macbook Pro 13” M1 2020
                                    </a>
                                    <p class="ui dj hj">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                        enim luctus et lorem.
                                    </p>
                                </div>
                                <div class="sb me hf nf">
                                    <div class="sb je ug wg _k to jq">
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>

                                        <span class="di xi bj hj"> (15) Reviews </span>
                                    </div>
                                    <div class="gf nf ug wg _k to jq">
                                        <span class="ui bj gj"> $1299 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="da wb gd vg yk ql jm fo eq 2xl:ud-min-w-[430px]">
                            <div class="se ve af nf wf">
                                <div>
                                    <img src="images/image-02_2.jpg"
                                         alt="product"
                                         class="oc" />
                                </div>
                                <div class="og">
                                    <a href="product-details.html"
                                       class="xa qb wi bj gj ik al jp mq">
                                        iPhone 13 Pro Max
                                    </a>
                                    <p class="ui dj hj">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                        enim luctus et lorem.
                                    </p>
                                </div>
                                <div class="sb me hf nf">
                                    <div class="sb je ug wg _k to jq">
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>
                                        <span class="za">
                                            <svg class="zb rc wk xk fl kl sn _n vp aq"
                                                 viewBox="0 0 20 20"
                                                 fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.6562 7.46875L12.9999 6.59375L10.4375 1.21875C10.25 0.84375 9.74995 0.84375 9.56245 1.21875L6.99995 6.625L1.37495 7.46875C0.9687 7.53125 0.81245 8.0625 1.12495 8.34375L5.2187 12.5625L4.24995 18.4688C4.18745 18.875 4.5937 19.2188 4.9687 18.9688L10.0624 16.1875L15.1249 18.9688C15.4687 19.1562 15.9062 18.8438 15.8124 18.4688L14.8437 12.5625L18.9374 8.34375C19.1874 8.0625 19.0624 7.53125 18.6562 7.46875Z"
                                                      fill="#FFA645" />
                                            </svg>
                                        </span>

                                        <span class="di xi bj hj"> (32) Reviews </span>
                                    </div>
                                    <div class="gf nf ug wg _k to jq">
                                        <span class="ui bj gj"> $999 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d m i n sb je le">
                        <div class="tb oe ye af nf qg">
                            <button class="sb dc uc je le ye af nf wf hj ck fk jk"
                                    @click="$refs.carousel.scrollLeft = $refs.carousel.scrollLeft - ($refs.carousel.scrollWidth / slides.length); activeSlide -= 1">
                                <svg width="15" height="13" viewBox="0 0 15 13" class="kg">
                                    <path fill-rule="evenodd"
                                          clip-rule="evenodd"
                                          d="M5.24264 11.8033L0.46967 7.03037C0.176777 6.73748 0.176777 6.2626 0.46967 5.96971L5.24264 1.19674C5.53553 0.903845 6.01041 0.903845 6.3033 1.19674C6.59619 1.48963 6.59619 1.96451 6.3033 2.2574L2.81066 5.75004H14C14.4142 5.75004 14.75 6.08583 14.75 6.50004C14.75 6.91425 14.4142 7.25004 14 7.25004H2.81066L6.3033 10.7427C6.59619 11.0356 6.59619 11.5104 6.3033 11.8033C6.01041 12.0962 5.53553 12.0962 5.24264 11.8033Z" />
                                </svg>
                            </button>
                            <button class="sb dc uc je le ye af nf wf hj ck fk jk"
                                    @click="$refs.carousel.scrollLeft = $refs.carousel.scrollLeft + ($refs.carousel.scrollWidth / slides.length); activeSlide += 1">
                                <svg width="15" height="13" viewBox="0 0 15 13" class="kg">
                                    <path fill-rule="evenodd"
                                          clip-rule="evenodd"
                                          d="M9.75736 11.8033L14.5303 7.03037C14.8232 6.73748 14.8232 6.2626 14.5303 5.96971L9.75736 1.19674C9.46447 0.903845 8.98959 0.903845 8.6967 1.19674C8.40381 1.48963 8.40381 1.96451 8.6967 2.2574L12.1893 5.75004H1C0.585786 5.75004 0.25 6.08583 0.25 6.50004C0.25 6.91425 0.585786 7.25004 1 7.25004H12.1893L8.6967 10.7427C8.40381 11.0356 8.40381 11.5104 8.6967 11.8033C8.98959 12.0962 9.46447 12.0962 9.75736 11.8033Z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<TrendingProducts></TrendingProducts>

<section>
    @SectionWithProductData(new Product{Id="1",Name="Product Name",Price="5000"})
</section>

<button class="tb je le ye yf gh dh si ui bj jj hk" @onclick="SendMessage">CLick Here To Increase Count</button>

@code {
    [Parameter]
    public string UserId { get; set; }

    [Parameter]
    public EventCallback<string> OnButtonClick { get; set; }

    private async void SendMessage()
    {
        await OnButtonClick.InvokeAsync();
    }

    public class Product
    {
        public string Id { get; set; }
        public string Name { get; set; }
        public string Price { get; set; }
    }
    [Parameter]
    public RenderFragment<Product> SectionWithProductData { get; set; }
}
