<section x-data="
        {
          slides: ['1', '2'],
          activeSlide: 1
        }
      "
         class="e">
    <div class="snap da sb ac oc md ie se ei bk" x-ref="carousel">
        <div class="e y da wb fd se xf">
            <div class="a da">
                <div class="ea sb he je">
                    <div class="oc vg ao/2">
                        <div class="ab nd jn">
                            <span class="ra qb wi bj ij"> Start From $299 </span>
                            <h2 class="xa zi bj gj _l kp nq">
                                Ultra HD Quality Bluetooth Sound Speakers
                            </h2>
                            <p class="ua ui dj hj">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Vestibulum ornare vestibulum mollis. Nam vitae augue purus.
                            </p>

                            <a href="filters.html"
                               class="tb je le ye yf gh dh si ui bj jj hk">
                                Shop Now
                            </a>
                        </div>
                    </div>

                    <div class="oc vg ao/2">
                        <div class="hh si">
                            <img src="images/image-01_2.jpg"
                                 alt="product"
                                 class="da od" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="d h i z">
                <svg width="620"
                     height="560"
                     viewBox="0 0 620 560"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 560L256.5 0H620V560H0Z"
                          fill="url(#paint0_linear_2066_370)" />
                    <defs>
                        <lineargradient id="paint0_linear_2066_370"
                                        x1="100.001"
                                        y1="280"
                                        x2="535.002"
                                        y2="280"
                                        gradientUnits="userSpaceOnUse">
                            <stop stop-color="#3056D3" stop-opacity="0.08" />
                            <stop offset="1" stop-color="#3056D3" stop-opacity="0" />
                        </lineargradient>
                    </defs>
                </svg>
            </div>
            <div class="d h i z">
                <svg width="536"
                     height="560"
                     viewBox="0 0 536 560"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.998535 560L257.499 0H535.999V560H0.998535Z"
                          fill="url(#paint0_linear_2066_368)" />
                    <defs>
                        <lineargradient id="paint0_linear_2066_368"
                                        x1="101"
                                        y1="280"
                                        x2="536"
                                        y2="280"
                                        gradientUnits="userSpaceOnUse">
                            <stop stop-color="#3056D3" stop-opacity="0.08" />
                            <stop offset="1" stop-color="#3056D3" stop-opacity="0" />
                        </lineargradient>
                    </defs>
                </svg>
            </div>
        </div>
        <div class="e y da wb fd se xf">
            <div class="a da">
                <div class="ea sb he je">
                    <div class="oc vg ao/2">
                        <div class="ab nd jn">
                            <span class="ra qb wi bj ij"> Start From $299 </span>
                            <h2 class="xa zi bj gj _l kp nq">
                                Ultra HD Quality Bluetooth Sound Speakers
                            </h2>
                            <p class="ua ui dj hj">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Vestibulum ornare vestibulum mollis. Nam vitae augue purus.
                            </p>

                            <a href="filters.html"
                               class="tb je le ye yf gh dh si ui bj jj hk">
                                Shop Now
                            </a>
                        </div>
                    </div>

                    <div class="oc vg ao/2">
                        <div class="hh si">
                            <img src="images/image-01_2.jpg"
                                 alt="product"
                                 class="da od" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="d h i z">
                <svg width="620"
                     height="560"
                     viewBox="0 0 620 560"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 560L256.5 0H620V560H0Z"
                          fill="url(#paint0_linear_2066_370)" />
                    <defs>
                        <lineargradient id="paint0_linear_2066_370"
                                        x1="100.001"
                                        y1="280"
                                        x2="535.002"
                                        y2="280"
                                        gradientUnits="userSpaceOnUse">
                            <stop stop-color="#3056D3" stop-opacity="0.08" />
                            <stop offset="1" stop-color="#3056D3" stop-opacity="0" />
                        </lineargradient>
                    </defs>
                </svg>
            </div>
            <div class="d h i z">
                <svg width="536"
                     height="560"
                     viewBox="0 0 536 560"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.998535 560L257.499 0H535.999V560H0.998535Z"
                          fill="url(#paint0_linear_2066_368)" />
                    <defs>
                        <lineargradient id="paint0_linear_2066_368"
                                        x1="101"
                                        y1="280"
                                        x2="536"
                                        y2="280"
                                        gradientUnits="userSpaceOnUse">
                            <stop stop-color="#3056D3" stop-opacity="0.08" />
                            <stop offset="1" stop-color="#3056D3" stop-opacity="0" />
                        </lineargradient>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
    <div>
        <button class="d g/2 j _ sb bc tc je le ye af qf wf ij bk ck fk jk"
                @click="$refs.carousel.scrollLeft = $refs.carousel.scrollLeft - ($refs.carousel.scrollWidth / slides.length); activeSlide -= 1">
            <svg width="10" height="18" viewBox="0 0 10 18" class="kg">
                <path fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M2.30951 9.00278L9.7025 1.75393L9.71157 1.74417C10.0883 1.33897 10.0904 0.706394 9.65025 0.300611C9.44618 0.112467 9.14292 -7.49282e-08 8.8652 -9.92075e-08C8.51706 -1.29642e-07 8.25215 0.142032 8.05041 0.328028L8.04343 0.334467L0.54447 7.71467L0.54358 7.71554C-0.187229 8.4299 -0.171766 9.58059 0.533431 10.3072L0.538425 10.3124L8.04382 17.6715L8.05041 17.6775C8.44903 18.0451 9.16205 18.1551 9.65025 17.705C10.0468 17.3394 10.1669 16.687 9.68767 16.2371L2.30951 9.00278Z" />
            </svg>
        </button>
        <button class="d k g/2 l _ sb bc tc je le ye af qf wf ij bk ck fk jk"
                @click="$refs.carousel.scrollLeft = $refs.carousel.scrollLeft + ($refs.carousel.scrollWidth / slides.length); activeSlide += 1">
            <svg width="10" height="18" viewBox="0 0 10 18" class="kg">
                <path fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M7.69049 8.99722L0.297501 16.2461L0.288433 16.2558C-0.0882772 16.661 -0.0903769 17.2936 0.34975 17.6994C0.553818 17.8875 0.857078 18 1.1348 18C1.48294 18 1.74785 17.858 1.94959 17.672L1.95658 17.6655L9.45553 10.2853L9.45642 10.2845C10.1872 9.5701 10.1718 8.41941 9.46657 7.69275L9.46158 7.68761L1.95618 0.32853L1.94959 0.322458C1.55097 -0.0450574 0.837946 -0.15506 0.34975 0.295041C-0.0467678 0.660617 -0.166916 1.31301 0.312333 1.7629L7.69049 8.99722Z" />
            </svg>
        </button>
    </div>
</section>

@code {

}
